# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

#Android Studio/ IntelliJ
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
.flutter-versions

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android specific
android/.gradle/
android/local.properties

# iOS specific
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner.xcworkspace/
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/.dart_tool/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.lock

# Exclude macOS and Linux folders (if created by mistake)
macos/
linux/
ios/
windows/
# Web related
web/.dart_tool/
web/build/

# Others
*.tmp
ios/Runner/GeneratedPluginRegistrant.h
